* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display";
  background-color: black;
}
.background-container {
  height: 90vh;
  background-image: url(Images/sea\ and\ ocean\ life-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  z-index: 1;
  display: block;
}
.nav {
  height: 15vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #0000005e;
}

.nav:hover {
  background-color: white;
  z-index: 10;
  .nav_items a {
    color: black;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
}
.nav_items {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
}

.nav_items a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 22px;
  position: relative;
}

.nav_items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav_items a:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.nav .left {
  width: 33.33%;
  display: flex;
}

.nav .middle {
  margin: auto;
  width: 33.33%;
}
.nav .right {
  margin: auto;
  width: 33.33%;
}
.left .nav_items a {
  display: flex;
  align-items: center;
}
.left .nav_items {
  padding-left: 55px;
}

.bg-card {
  background-color: transparent;
  width: 36vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.bg-card span {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Roboto Mono", monospace;
}

.bg-card :nth-child(1) {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 23px;
}
.bg-card :nth-child(2) {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}
.bg-card :nth-child(3) {
  font-size: 25px;
  font-weight: 400;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  z-index: 20;
  box-shadow: #ffffff 0px 3px 5px;
  /* margin-bottom: 30px; */
}

/* portfolio */

.portfolio .card h1 {
  color: white;
  font-size: 37px;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 50px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.portfolio .card::after,
.portfolio .card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 330px;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 12%;
  translate: -50% -50%;
  z-index: -2;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.portfolio .card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.portfolio .card img {
  position: absolute;
  top: 2;
  margin: auto;
}



.portfolio .rectangle1 {
  width: 20vw;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform:rotate(-45deg);
  border-radius: 10px;
  margin-bottom: 10vh;
  margin-left: 77.5vw;
}
.portfolio .rectangle2 {
  width: 15vw;
  height: 15px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform:rotate(-45deg);
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 82vw;
}
.portfolio .rectangle3 {
  width: 10vw;
  height: 10px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform:rotate(-45deg);
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 86.5vw;
}

.portfolio .card{
  width: 250px;
}

.bg {
  background-color: #1c1f2b;
  width: 330px;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  border-radius: 10px;
  bottom: 0;
  }
.portfolio {
  position: relative;
  padding: 2em;
  width: 90vw;
  text-align: center;
  border-radius: 10px;
  height: 50vh;
  color: white;
  display: flex;
  margin: 20px auto 0 auto;
}

.portfolio .rectangular-bg{
  width:45vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: translate(55%, 0%);
  border-radius: 10px;
  bottom: 0;
  background-color: #4f4f4fff;
  filter: opacity(0.27);
  z-index: -1;
}
.portfolio .rectangular-text{
  width:45vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: translate(55%, 0%);
  border-radius: 10px;
  bottom: 0;
  background-color: transparent;
  color: whitesmoke;
  z-index: 1;
}
.portfolio .rectangular-text :nth-child(1){
  font-size: 25px;
  font-weight: 600;
  display: block;
  margin-top: 30px;
}
.portfolio .rectangular-text :nth-child(2){
  display: block;
  font-size: 20px;
}






/* 
.allbox1 {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  align-items: flex-start; 
  justify-content: flex-end; 
  flex-direction: column; 
}
.allbox2 {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  flex-direction: column;
}

.allbox3 {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  flex-direction: column;
}

.portfolio .box {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 10px;
}

.allofthebox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
}



.portfolio .allbox2 :nth-child(1) {
  margin-top: 130px;
}
.portfolio .allbox3 :nth-child(1) {
  margin-top: 240px;
}
.portfolio .allbox4 :nth-child(1) {
  margin-top: 350px;
}

.portfolio .allbox1 :nth-child(1) {
  margin-top: 20px;
}
.portfolio .allbox1{
  margin-left: 50px;
}



.portfolio .allofthebox {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  position: relative;
}


.portfolio .box {
  height: 90px;
  width: 90px;
  background: linear-gradient(to bottom right, #ef3f17, #2bffae, #47c2ff, #2bffae,  #ef3f17); 
  background-size: 300% 300%; 
  border-radius: 10px; 
  animation: moveGradient 4s linear infinite; 
  overflow: hidden; 
  position: relative;
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
