* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Playfair Display";
  background-color: rgba(25, 24, 24, 0.996);
  background-image: url(Images/sea\ and\ ocean\ life-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
  .nav {
  height: 15vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
}
.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005e;
}


.nav:hover {
  background-color: white;
  z-index: 10;
  .nav_items a {
    color: black;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
}
.nav_items {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
}

.nav_items a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 22px;
  position: relative;
}

.nav_items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav_items a:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.nav .left {
  width: 30%;
  display: flex;
}

.nav .middle {
  margin: auto;
  width: 40%;
}
.nav .right {
  margin: auto;
  width: 30%;
}
.left .nav_items a {
  display: flex;
  align-items: center;
}
.left .nav_items{
  padding-left: 55px;
}

.bg-card {
  background-color: transparent;
  width: 36vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.bg-card span {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bg-card :nth-child(1){
  font-size: 50px;
  font-weight: 900;
}
.bg-card :nth-child(2){
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}
.bg-card :nth-child(3){
  font-size: 25px;
  font-weight: 400;

}